<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.esgplatformbackend.dao.CorporationESGScoreMapper">
    <resultMap id="BaseResultMap" type="com.platform.esgplatformbackend.model.po.CorporationESGScorePo">
        <id column="score_record_id" jdbcType="INTEGER" property="score_record_id" />
        <result column="corporation_id" jdbcType="INTEGER" property="corporation_id" />
        <result column="score_type" jdbcType="CHAR" property="score_type" />
        <result column="ESG_total_score" jdbcType="DOUBLE" property="ESG_total_score" />
        <result column="E_score" jdbcType="DOUBLE" property="e_score" />
        <result column="S_score" jdbcType="DOUBLE" property="s_score" />
        <result column="G_score" jdbcType="DOUBLE" property="g_score" />
        <result column="e_accident" jdbcType="DOUBLE" property="e_accident" />
        <result column="e_advantage" jdbcType="DOUBLE" property="e_advantage" />
        <result column="e_idea" jdbcType="DOUBLE" property="e_idea" />
        <result column="e_pollution" jdbcType="DOUBLE" property="e_pollution" />
        <result column="s_charity" jdbcType="DOUBLE" property="s_charity" />
        <result column="s_publish" jdbcType="DOUBLE" property="s_publish" />
        <result column="s_responsibility" jdbcType="DOUBLE" property="s_responsibility" />
        <result column="s_employee_variety" jdbcType="DOUBLE" property="s_employee_variety" />
        <result column="s_employee_guarantee" jdbcType="DOUBLE" property="s_employee_guarantee" />
        <result column="g_structure" jdbcType="DOUBLE" property="g_structure" />
        <result column="g_result" jdbcType="DOUBLE" property="g_result" />
        <result column="g_audit" jdbcType="DOUBLE" property="g_audit" />
        <result column="g_exception" jdbcType="DOUBLE" property="g_exception" />
        <result column="g_visibility" jdbcType="DOUBLE" property="g_visibility" />
    </resultMap>

    <select id="getByRecordId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from corporation_esg_score where score_record_id=#{score_record_id,jdbcType=INTEGER}
    </select>
    <select id="getByCorporationId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from corporation_esg_score where corporation_id=#{corporation_id}
    </select>
    <select id="getByCorporationIdAndType" resultMap="BaseResultMap">
        select * from corporation_esg_score where corporation_id=#{corporation_id} and score_type=#{score_type}
    </select>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from corporation_esg_score
        where score_record_id = #{score_record_id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.platform.esgplatformbackend.model.po.CorporationESGScorePo"
            useGeneratedKeys = "true" keyProperty = "score_record_id">
        insert into corporation_esg_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="score_record_id != null">
                score_record_id,
            </if>
            <if test="corporation_id != null">
                corporation_id,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="ESG_total_score != null">
                ESG_total_score,
            </if>
            <if test="e_score != null">
                E_score,
            </if>
            <if test="s_score != null">
                S_score,
            </if>
            <if test="g_score != null">
                G_score,
            </if>
            <if test="e_accident != null">
                e_accident,
            </if>
            <if test="e_advantage != null">
                e_advantage,
            </if>
            <if test="e_idea != null">
                e_idea,
            </if>
            <if test="e_pollution != null">
                e_pollution,
            </if>
            <if test="s_charity != null">
                s_charity,
            </if>
            <if test="s_publish != null">
                s_publish,
            </if>
            <if test="s_responsibility != null">
                s_responsibility,
            </if>
            <if test="s_employee_variety != null">
                s_employee_variety,
            </if>
            <if test="s_employee_guarantee != null">
                s_employee_guarantee,
            </if>
            <if test="g_structure != null">
                g_structure,
            </if>
            <if test="g_result != null">
                g_result,
            </if>
            <if test="g_audit != null">
                g_audit,
            </if>
            <if test="g_exception != null">
                g_exception,
            </if>
            <if test="g_visibility != null">
                g_visibility,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="score_record_id != null">
                #{score_record_id,jdbcType=INTEGER},
            </if>
            <if test="corporation_id != null">
                #{corporation_id,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=DATE},
            </if>
            <if test="ESG_total_score != null">
                #{ESG_total_score,jdbcType=DOUBLE},
            </if>
            <if test="e_score != null">
                #{e_score,jdbcType=DOUBLE},
            </if>
            <if test="s_score != null">
                #{s_score,jdbcType=DOUBLE},
            </if>
            <if test="g_score != null">
                #{g_score,jdbcType=DOUBLE},
            </if>
            <if test="e_accident != null">
                #{e_accident,jdbcType=DOUBLE},
            </if>
            <if test="e_advantage != null">
                #{e_advantage,jdbcType=DOUBLE},
            </if>
            <if test="e_idea != null">
                #{e_idea,jdbcType=DOUBLE},
            </if>
            <if test="e_pollution != null">
                #{e_pollution,jdbcType=DOUBLE},
            </if>
            <if test="s_charity != null">
                #{s_charity,jdbcType=DOUBLE},
            </if>
            <if test="s_publish != null">
                #{s_publish,jdbcType=DOUBLE},
            </if>
            <if test="s_responsibility != null">
                #{s_responsibility,jdbcType=DOUBLE},
            </if>
            <if test="s_employee_variety != null">
                #{s_employee_variety,jdbcType=DOUBLE},
            </if>
            <if test="s_employee_guarantee != null">
                #{s_employee_guarantee,jdbcType=DOUBLE},
            </if>
            <if test="g_structure != null">
                #{g_structure,jdbcType=DOUBLE},
            </if>
            <if test="g_result != null">
                #{g_result,jdbcType=DOUBLE},
            </if>
            <if test="g_audit != null">
                #{g_audit,jdbcType=DOUBLE},
            </if>
            <if test="g_exception != null">
                #{g_exception,jdbcType=DOUBLE},
            </if>
            <if test="g_visibility != null">
                #{g_visibility,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.platform.esgplatformbackend.model.po.CorporationESGScorePo">
        update corporation_esg_score
        <set>
            <if test="corporation_id != null">
                corporation_id = #{corporation_id,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=DATE},
            </if>
            <if test="ESG_total_score != null">
                ESG_total_score = #{ESG_total_score,jdbcType=DOUBLE},
            </if>
            <if test="e_score != null">
                E_score = #{e_score,jdbcType=DOUBLE},
            </if>
            <if test="s_score != null">
                S_score = #{s_score,jdbcType=DOUBLE},
            </if>
            <if test="g_score != null">
                G_score = #{g_score,jdbcType=DOUBLE},
            </if>
            <if test="e_accident != null">
                e_accident = #{e_accident,jdbcType=DOUBLE},
            </if>
            <if test="e_advantage != null">
                e_advantage = #{e_advantage,jdbcType=DOUBLE},
            </if>
            <if test="e_idea != null">
                e_idea = #{e_idea,jdbcType=DOUBLE},
            </if>
            <if test="e_pollution != null">
                e_pollution = #{e_pollution,jdbcType=DOUBLE},
            </if>
            <if test="s_charity != null">
                s_charity = #{s_charity,jdbcType=DOUBLE},
            </if>
            <if test="s_publish != null">
                s_publish = #{s_publish,jdbcType=DOUBLE},
            </if>
            <if test="s_responsibility != null">
                s_responsibility = #{s_responsibility,jdbcType=DOUBLE},
            </if>
            <if test="s_employee_variety != null">
                s_employee_variety = #{s_employee_variety,jdbcType=DOUBLE},
            </if>
            <if test="s_employee_guarantee != null">
                s_employee_guarantee = #{s_employee_guarantee,jdbcType=DOUBLE},
            </if>
            <if test="g_structure != null">
                g_structure = #{g_structure,jdbcType=DOUBLE},
            </if>
            <if test="g_result != null">
                g_result = #{g_result,jdbcType=DOUBLE},
            </if>
            <if test="g_audit != null">
                g_audit = #{g_audit,jdbcType=DOUBLE},
            </if>
            <if test="g_exception != null">
                g_exception = #{g_exception,jdbcType=DOUBLE},
            </if>
            <if test="g_visibility != null">
                g_visibility = #{g_visibility,jdbcType=DOUBLE},
            </if>
        </set>
        where score_record_id = #{score_record_id,jdbcType=INTEGER}
    </update>
</mapper>